<?xml version="1.0" encoding="UTF-8"?>
<persistence
	xmlns="http://xmlns.jcp.org/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd"
	version="2.2">
<persistence-unit name="SpringJpaPersistence" transaction-type="RESOURCE_LOCAL">
    <non-jta-data-source>java:/CloverETLServerDS</non-jta-data-source>
    <!--
    persistent entities are detected in classpath by @Entity annotation
	-->
		<class>com.cloveretl.server.persistent.AbstractEventListener</class>
		<class>com.cloveretl.server.persistent.AbstractEventTrigger</class>
		<class>com.cloveretl.server.persistent.AbstractJobEventListener</class>
		<class>com.cloveretl.server.persistent.CloverLicense</class>
		<class>com.cloveretl.server.persistent.DataConnectorPersistence</class>
		<class>com.cloveretl.server.persistent.DataConnectorPermission</class>
		<class>com.cloveretl.server.persistent.Dashboard</class>
		<class>com.cloveretl.server.persistent.DataServiceJob</class>
		<class>com.cloveretl.server.persistent.DataServiceJobState</class>
		<class>com.cloveretl.server.persistent.DataSet</class>
		<class>com.cloveretl.server.persistent.DataSetPermission</class>
		<class>com.cloveretl.server.persistent.DateItem</class>
		<class>com.cloveretl.server.persistent.EmailTemplate</class>
		<class>com.cloveretl.server.persistent.EventListenerState</class>
		<class>com.cloveretl.server.persistent.FileEventListener</class>
		<class>com.cloveretl.server.persistent.KafkaEventListener</class>
		<class>com.cloveretl.server.persistent.HealthState</class>
		<class>com.cloveretl.server.persistent.HealthConfiguration</class>
		<class>com.cloveretl.server.persistent.HttpInvocationRecord</class>
		<class>com.cloveretl.server.persistent.HttpInvocationLightRecord</class>
		<class>com.cloveretl.server.persistent.JobConfig</class>
		<class>com.cloveretl.server.persistent.JobflowEventListener</class>
		<class>com.cloveretl.server.persistent.GraphEventListener</class>
		<class>com.cloveretl.server.persistent.GroovyEventListener</class>
		<class>com.cloveretl.server.persistent.JmsMessageTemplate</class>
		<class>com.cloveretl.server.persistent.JmsEventListener</class>
		<class>com.cloveretl.server.persistent.ListenerEventTrigger</class>
		<class>com.cloveretl.server.persistent.LibraryRepository</class>
		<class>com.cloveretl.server.persistent.NodeRun</class>
		<class>com.cloveretl.server.persistent.NodeStatus</class>
		<class>com.cloveretl.server.persistent.OperationPermission</class>
		<class>com.cloveretl.server.persistent.Monitor</class>
		<class>com.cloveretl.server.persistent.RestJobParameterRecord</class>
		<class>com.cloveretl.server.persistent.RunRecord</class>
		<class>com.cloveretl.server.persistent.RunRecordView</class>
		<class>com.cloveretl.server.persistent.Sandbox</class>
		<class>com.cloveretl.server.persistent.SandboxLocation</class>
		<class>com.cloveretl.server.persistent.SandboxPermission</class>
		<class>com.cloveretl.server.persistent.SecretManager</class>
		<class>com.cloveretl.server.persistent.SecretManagerPermission</class>
		<class>com.cloveretl.server.persistent.SecretManagerProperty</class>
		<class>com.cloveretl.server.persistent.SecureParamPasswd</class>
		<class>com.cloveretl.server.persistent.SettingsNode</class>
		<class>com.cloveretl.server.persistent.SettingsUser</class>	
		<class>com.cloveretl.server.persistent.SslConfiguration</class>	
		<class>com.cloveretl.server.persistent.Schedule</class>
		<class>com.cloveretl.server.persistent.ScheduleHealthListener</class>
		<class>com.cloveretl.server.persistent.ScheduleState</class>
		<class>com.cloveretl.server.persistent.ServerTempSpace</class>
		<class>com.cloveretl.server.persistent.SmtpOAuth2Tokens</class>
		<class>com.cloveretl.server.persistent.Task</class>
		<class>com.cloveretl.server.persistent.TaskArchivator</class>
		<class>com.cloveretl.server.persistent.TaskDataManagerMaintenance</class>
		<class>com.cloveretl.server.persistent.TaskEventListener</class>
		<class>com.cloveretl.server.persistent.TaskExecuteJobflow</class>
		<class>com.cloveretl.server.persistent.TaskExecuteGraph</class>
		<class>com.cloveretl.server.persistent.TaskExecuteGroovyCode</class>
		<class>com.cloveretl.server.persistent.TaskExecuteShellCommand</class>
		<class>com.cloveretl.server.persistent.TaskHealthCheck</class>
		<class>com.cloveretl.server.persistent.TaskKillJob</class>
		<class>com.cloveretl.server.persistent.TaskLog</class>
		<class>com.cloveretl.server.persistent.TaskLogEvent</class>
		<class>com.cloveretl.server.persistent.TaskSendEmail</class>
		<class>com.cloveretl.server.persistent.TaskSendJmsMessage</class>
		<class>com.cloveretl.server.worker.commons.persistent.TrackingGraph</class>
		<class>com.cloveretl.server.worker.commons.persistent.TrackingNode</class>
		<class>com.cloveretl.server.worker.commons.persistent.TrackingPhase</class>
		<class>com.cloveretl.server.worker.commons.persistent.TrackingPort</class>
		<class>com.cloveretl.server.persistent.User</class>
		<class>com.cloveretl.server.persistent.UserGroup</class>
		<class>com.cloveretl.server.persistent.WranglerJobLastRun</class>
		<properties>
		</properties>
	</persistence-unit>
</persistence>